version: '3.7'
services:
  amt-enhetsregister-postgres:
    image: 'postgres:17-alpine'
    container_name: amt-enhetsregister-postgres
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    ports:
      - '5455:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=qwerty
      - POSTGRES_DB=amt-enhetsregister-db
  mock-oauth2-server:
    image: ghcr.io/navikt/mock-oauth2-server:0.3.5
    ports:
      - '8083:8080'
    environment:
      SERVER_PORT: 8080
volumes:
  postgres-db-volume:
